<ion-header>
  <ion-toolbar>

    <ion-title>{{modalTitle}}</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar mode="ios" placeholder="Search for contact"></ion-searchbar>
  </ion-toolbar>
  <ion-list>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://avatars0.githubusercontent.com/u/58421650?s=200&v=4">
      </ion-avatar>
      <ion-label>
        <h2>{{contact1}}</h2>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://avatars0.githubusercontent.com/u/58421650?s=200&v=4">
      </ion-avatar>
      <ion-label>
        <h2>{{contact2}}</h2>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://avatars0.githubusercontent.com/u/58421650?s=200&v=4">
      </ion-avatar>
      <ion-label>
        <h2>{{contact3}}</h2>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
