.button-solid {
  --background: #840032;
  --background-focused: #313131;
  --background-hover: #313131;
  --color: #ffffff;
  --color-activated: #ffffff;
  --color-focused: #ffffff;
  display: inline-block;
}
