<ion-app>

  <ion-content fullscreen padding scroll-y="false">
    <ion-slides>

      <ion-slide>
        <img src="../assets/chat.svg" />
        <h2>Welcome to <b>Decent</b></h2>
        <p><b>Decent</b> is a new instant messaging application with the focus of privacy and user control as it's top priority.</p>
      </ion-slide>

      <ion-slide>
        <img src="../assets/standout.svg" stle="height: 50px; width: 50px;" />
        <h2>What Makes <b>Decent</b> Standout?</h2>
        <p><b>Decent</b> uses a combination of Centralized & Decentralized systems to bring you the most reliable platform possible.</p>
      </ion-slide>

      <ion-slide>
        <img src="../assets/money.svg" />
        <h2><b>Decent</b> values.</h2>
        <p><b>Decent</b> puts its users' well-being, privacy and needs over any financial gains.</p>
        <ion-button fill="clear" routerLink="/tabs/tab3">Back to Decent<ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-slide>

    </ion-slides>
  </ion-content>
</ion-app>
